version: "3.9"

services:
  api:
    build: .
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: development
      DB_CONNECTION_STRING: mongodb://mongo:27017/fiap-project
    depends_on:
      - mongo


  mongo:
    image: mongo:6
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:


